# Core
apache-airflow==2.7.1
pandas
requests
pyspark==3.4.1

# Database & Transformação
dbt-postgres
apache-airflow-providers-postgres

# Qualidade de Código e Linting
sqlfluff
sqlfluff-templater-dbt

# Utilitários
python-dotenv

# --- Framework de Testes ---
pytest